@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;

    --primary-light: 220 60% 55%;
    --primary: 231 56% 36%;
    --primary-semi-dark: 218 76% 36%;
    --primary-dark: 218 66% 16%;
    --primary-foreground: 210 40% 98%;
    --primary2: 129 53% 47%;
    --primary2-dark: 129 53% 37%;
    /* --primary-background: 125 43% 95%; */

    --color1: 215 70% 60%; /* #3489FF */
    --color2: 209 93% 6%; /* #010f1c1a */

    --secondary: 216 12% 90%;
    --secondary-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 216 12% 90%;
    --muted-foreground: 215.4 16.3% 45%;

    --accent: 216 10% 95%;
    --accent-foreground: 222.2 84% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  --font-oregano: var(--font-oregano);

  /* Colors */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  /* Custom colors */
  --color-primaryLight: hsl(var(--primary-light));
  --color-primary: hsl(var(--primary));
  --color-primarySemiDark: hsl(var(--primary-semi-dark));
  --color-primaryDark: hsl(var(--primary-dark));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary2: hsl(var(--primary2));
  --color-primary2Dark: hsl(var(--primary2-dark));

  --color-color1: hsl(var(--color1));
  --color-color2: hsl(var(--color2));

  /* Sidebar colors */
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));

  /* Chars colors */
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-1: hsl(var(--chart-1));

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Max width */
  --max-width-8xl: 95rem;
  --max-width-9xl: 100rem;

  /* Screens */
  --breakpoint-2xs: 18.75rem;
  --breakpoint-xs: 30rem;
  --breakpoint-max-2xs: 18.75rem;
  --breakpoint-max-xs: 30rem;
  --breakpoint-max-sm: 40rem;

  /* Background Images */
  --background-image-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-calendar-disabled-hour: repeating-linear-gradient(
    -60deg,
    hsl(var(--border)) 0 0.5px,
    transparent 0.5px 8px
  );

  /* Animations */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-120px * 6 - 1rem * 6));
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes pulse-scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  /* Animation utilities */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-pulse-beat:
    pulse 1s ease-in-out infinite, beat 1s ease-in-out infinite;
  --animate-scroll: scroll 30s linear infinite;
  --animate-pulse-scale: pulse-scale 3s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  @apply w-full max-w-8xl mx-auto py-4;
}

@utility dashboard-container {
  /* Custom */
  @apply @container/main w-full max-w-520 mx-auto px-3 sm:px-4 pb-8;
}

@utility dashboard-header {
  @apply h-[68px] flex items-center bg-background;
}

@utility backgroundGradient {
  @apply bg-linear-to-r from-primary/10 dark:from-primary/20 to-background;
}

@utility backgroundGradientPrimary {
  @apply bg-linear-to-br from-primary to-primaryLight;
}

@utility dots {
  @apply flex;

  & .dot {
    @apply bg-primary rounded-full;
    animation: bounce-loader 0.5s infinite alternate;
  }

  & .dot:nth-child(2) {
    @apply bg-primary2;
    animation-delay: 100ms;
  }

  & .dot:nth-child(3) {
    @apply bg-primary;
    animation-delay: 200ms;
  }
}

@utility dot {
  .dots & {
    @apply bg-primary rounded-full;
    animation: bounce-loader 0.5s infinite alternate;
  }

  .dots &:nth-child(2) {
    @apply bg-primary2;
    animation-delay: 100ms;
  }

  .dots &:nth-child(3) {
    @apply bg-primary;
    animation-delay: 200ms;
  }
}

@utility nav-link {
  &::after {
    @apply absolute bottom-0 left-1/2 w-0 h-[3px];
    content: '';
    background: linear-gradient(
      to right,
      hsl(var(--primary)),
      hsl(var(--primary2))
    );
    transition: width 0.3s ease;
    border-radius: 3px;
    transform: translateX(-50%);
    transform-origin: center center;
  }

  &:hover::after {
    width: 100%;
  }
}

@utility swiper-pagination {
  & .swiper-pagination-bullet {
    @apply bg-background/50;
  }
  & .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-primary2;
  }
}

@utility swiper-pagination-bullet {
  .swiper-pagination & {
    @apply bg-background/50;
  }
  .swiper-pagination &.swiper-pagination-bullet-active {
    @apply bg-primary2;
  }
}

@utility swiper-pagination-bullet-active {
  .swiper-pagination &.swiper-pagination-bullet {
    @apply bg-primary2;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer utilities {
  html,
  body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[5px];
  }

  @keyframes bounce-loader {
    100% {
      translate: 0 -15px;
    }
  }
}
